.appContainer {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease; /* Optional: for smooth transition */
}

.fullWidthSection {
  width: 100%;
}

.section {
  width: 50%;
}

.aside {
  width: 50%;
}
