  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .stars {
    display: flex;
    height: 20px;
    cursor: pointer;
  }
  
  .next-btn {
    padding: 10px 20px;
    background-color: #2874f0;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .review-textarea {
    width: 100%;
    margin-top: 10px;
    height: 200px;
  }
  
  .progress-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .steps {
    display: flex;
  }
  
  .step {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #e0e0e0;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-right: 50px;
    position: relative;
  }
  
  .step:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 100%;
    width: 60px;
    height: 2px;
    background: #e0e0e0;
    z-index: -1;
  }
  
  .step:last-child:before {
    display: none;
  }
  
  .step.active {
    background: #2874f0;
  }

  .review-step {
    & p {
        padding: 20px 0px;
    }
  }